/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1f2937; /* Tailwind's gray-800 */
  scroll-behavior: smooth;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
